[% USE raw %]
[% USE Asset %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>Compare matched records &rsaquo; Manage staged MARC records &rsaquo; Cataloging &rsaquo; Koha</title>
[% INCLUDE 'doc-head-close.inc' %]
<style>
    ins { background-color: #e6ffe6; }
    del { background-color: #ffe6e6; }
    #col1 ins, #col2 del { display: none; }
    pre { padding: 10px; overflow: scroll; }
</style>
</head>

<body id="tools_compare-marc-import" class="tools">

[% INCLUDE 'header.inc' %]

[% WRAPPER 'sub-header.inc' %]
<nav id="breadcrumbs" aria-label="Breadcrumb" class="breadcrumb">
    <ol>
        <li>
            <a href="/cgi-bin/koha/mainpage.pl">Home</a>
        </li>
        <li>
            <a href="/cgi-bin/koha/cataloguing/cataloging-home.pl">Cataloging</a>
        </li>
        <li>
            <a href="/cgi-bin/koha/tools/manage-marc-import.pl">Manage staged MARC records</a>
        </li>
        <li>
            <a href="/cgi-bin/koha/tools/manage-marc-import.pl?import_batch_id=[% batchid | uri %]">Batch [% batchid | html %]</a>
        </li>
        <li>
            <a href="#" aria-current="page">
                Compare matched records
            </a>
        </li>
    </ol>
</nav>
[% END %]

<div class="main container-fluid">
    <div class="row">
            <main>
            <h1>Compare matched records</h1>

        <div id="col1" class="col-sm-6">
            <h2>Original</h2>
            [% IF ( ERROR_FORMATTED1 ) %]
                <div class="dialog alert">
                    <p>The record ID <em>[% RECORDID | html %]</em> doesn't match any existing record.</p>
                </div>
            [% ELSE %]
                <h2>[% RECORDTITLE | html %]</h2>
                <pre>[% MARC_FORMATTED1 | html %]</pre>
            [% END %]
        </div>
        <div id="col2" class="col-sm-6">
            <h2>Imported</h2>
            [% IF ( ERROR_FORMATTED2 ) %]
                <div class="dialog alert">
                    <p>The import ID number <em>[% IMPORTID | html %]</em> doesn't match any existing record.</p>
                </div>
            [% ELSE %]
                <h2>[% IMPORTTITLE | html %]</h2>
                <pre>[% MARC_FORMATTED2 | html %] </pre>
            [% END %]
        </div>
    </div>

<p><a href="/cgi-bin/koha/tools/manage-marc-import.pl?import_batch_id=[% batchid | uri %]">Return to staged MARC batch [% batchid | html %]</a></p>

            </main>
        </div>

[% MACRO jsinclude BLOCK %]
    [% Asset.js("js/tools-menu.js") | $raw %]
    [% Asset.js("lib/jsdiff/jsdiff.min.js") | $raw %]
    <script>
        $(document).ready(function(){
          var diff1 = $("#col1 pre").text();
          var diff2 = $("#col2 pre").text();
          var diffs = diffString(diff1,diff2);
          $("#col1 pre,#col2 pre").html(diffs);
        });
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
