[% USE raw %]
[% USE Asset %]
[% USE Branches %]
[% SET footerjs = 1 %]
[% INCLUDE 'doc-head-open.inc' %]
<title>
    [% IF op =='add_form' %]
       Credit types &rsaquo;
       [% IF credit_type.code %]
           Modify credit type
       [% ELSE %]
           New credit type
       [% END %]
    [% ELSE %]
       Credit types
    [% END %] &rsaquo; Administration &rsaquo; Koha
</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="admin_credit_types" class="admin">
[% WRAPPER 'header.inc' %]
    [% INCLUDE 'prefs-admin-search.inc' %]
[% END %]

[% WRAPPER 'sub-header.inc' %]
    [% WRAPPER breadcrumbs %]
        [% WRAPPER breadcrumb_item %]
            <a href="/cgi-bin/koha/admin/admin-home.pl">Administration</a>
        [% END %]

        [% IF op == 'add_form' %]
            [% WRAPPER breadcrumb_item %]
                <a href="/cgi-bin/koha/admin/credit_types.pl">Credit types</a>
            [% END %]
            [% WRAPPER breadcrumb_item bc_active= 1 %]
                [% IF credit_type.code %]
                    <span>Modify credit type</span>
                [% ELSE %]
                    <span>New credit type</span>
                [% END %]
            [% END %]

        [% ELSE %]
            [% WRAPPER breadcrumb_item bc_active= 1 %]
                <span>Credit types</span>
            [% END %]
        [% END %]
    [% END #/ WRAPPER breadcrumbs %]
[% END #/ WRAPPER sub-header.inc %]

<div class="main container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-push-2">
            <main>

                [% FOREACH m IN messages %]
                <div class="dialog [% m.type | html %]">
                    [% SWITCH m.code %]
                    [% CASE 'success_on_saving' %]
                        <span>Credit type saved successfully</span>
                    [% CASE 'error_on_saving' %]
                        <span>An error occurred when saving this credit type</span>
                    [% CASE 'success_on_archive' %]
                        <span>Credit type archived successfully</span>
                    [% CASE 'success_on_restore' %]
                        <span>Credit type restored successfully</span>
                    [% CASE %]
                        <span>[% m.code | html %]</span>
                    [% END %]
                </div>
                [% END %]

                [% IF op == 'add_form' %]
                    [% IF credit_type %]
                        <h1>Modify a credit type</h1>
                    [% ELSE %]
                        <h1>New credit type</h1>
                    [% END %]

                    <form action="/cgi-bin/koha/admin/credit_types.pl" name="Aform" method="post" class="validated">
                        <input type="hidden" name="op" value="add_validate" />
                        <fieldset class="rows">
                            <ol>
                                <li>
                                    <label for="code" class="required">Credit type code: </label>
                                    [% IF credit_type %]
                                        <strong>[% credit_type.code | html %]</strong>
                                        <input type="hidden" name="code" value="[% code | html %]" />
                                    [% ELSE %]
                                    <input type="text" name="code" id="code" size="80" maxlength="64" class="required focus" required="required"><span class="required">Required. Maximum length is 64 letters</span>
                                    [% END %]
                                </li>
                                <li>
                                    <label for="description" class="required">Description: </label>
                                    [% IF credit_type && credit_type.is_system %]
                                        <span>[% credit_type.description | html %]</span>
                                    [% ELSE %]
                                        <input type="text" name="description" id="description" required="required" class="required" size="80" maxlength="100" value="[% credit_type.description | html %]" /> <span class="required">Required</span>
                                    [% END %]
                                </li>
                                <li>
                                    <label for="can_be_added_manually">Can be manually added ? </label>
                                    [% IF credit_type && credit_type.is_system %]
                                        [% IF credit_type.can_be_added_manually %]<span>Yes</span>[% ELSE %]<span>No</span>[% END %]
                                    [% ELSIF credit_type.can_be_added_manually %]
                                        <input type="checkbox" name="can_be_added_manually" id="can_be_added_manually" checked="checked" value="1" />
                                    [% ELSE %]
                                        <input type="checkbox" name="can_be_added_manually" id="can_be_added_manually" value="1" />
                                    [% END %]
                                </li>
                                <li>
                                    <label for="credit_number_enabled">Enable credit number</label>
                                    [% IF credit_type.credit_number_enabled %]
                                        <input type="checkbox" name="credit_number_enabled" id="credit_number_enabled" checked="checked" value="1" />
                                    [% ELSE %]
                                        <input type="checkbox" name="credit_number_enabled" id="credit_number_enabled" value="1" />
                                    [% END %]
                                    <span class="hint">Enable automatic generation of credit number (see <a href="/cgi-bin/koha/admin/preferences.pl?op=search&searchfield=AutoCreditNumber">AutoCreditNumber</a>)</span>
                                </li>
                                <li>
                                    <label for="branches">Libraries limitation: </label>
                                    [% IF credit_type && credit_type.is_system %]
                                        <span>No library limitation</span>
                                    [% ELSE %]
                                        <select id="branches" name="branches" multiple size="10">
                                            <option value="">All libraries</option>
                                            [% FOREACH branch IN branches_loop %]
                                            [% IF ( branch.selected ) %]
                                            <option selected="selected" value="[% branch.branchcode | html %]">[% branch.branchname | html %]</option>
                                            [% ELSE %]
                                            <option value="[% branch.branchcode | html %]">[% branch.branchname | html %]</option>
                                            [% END %]
                                            [% END %]
                                        </select>
                                        <div class="hint">Select 'All libraries' if this credit type should be available at all libraries. Otherwise select libraries you want to associate credit type with.</div>
                                    [% END %]
                                </li>
                            </ol>
                        </fieldset>

                        <fieldset class="action">
                            <button id="save_credit_type" class="btn btn-primary">Save</button>
                            <a class="cancel" href="/cgi-bin/koha/admin/credit_types.pl">Cancel</a>
                        </fieldset>
                    </form>
                [% END %]

                [% IF op == 'list' %]
                    <div id="toolbar" class="btn-toolbar">
                        <a class="btn btn-default" id="newcredittype" href="/cgi-bin/koha/admin/credit_types.pl?op=add_form"><i class="fa fa-plus"></i> New credit type</a>
                    </div>

                    <h1>Account credit types</h1>
                    [% IF credit_types.count %]
                        <div class="page-section">
                            <table id="table_credit_types">
                                <thead>
                                    <th>Archived</th>
                                    <th>System</th>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Available for</th>
                                    <th>Credit number enabled</th>
                                    <th>Library limitations</th>
                                    <th class="noExport">Actions</th>
                                </thead>
                                <tbody>
                                    [% FOREACH credit_type IN credit_types %]
                                    <tr>
                                        <td>[% credit_type.archived | html %]</td>
                                        <td>[% credit_type.is_system | html %]</td>
                                        <td>[% credit_type.code | html %]</td>
                                        <td>[% credit_type.description | html %]</td>
                                        <td>[% IF credit_type.can_be_added_manually %]Manual credit[% END %]</td>
                                        <td>[% IF credit_type.credit_number_enabled %]Yes[% ELSE %]No[% END %]</td>
                                        <td>
                                            [% IF credit_type.library_limits.count > 0 %]
                                                [% library_limits_str = "" %]
                                                [% FOREACH library IN credit_type.library_limits %]
                                                    [%- IF loop.first -%]
                                                    [% library_limits_str = library.branchname _ " (" _ library.branchcode _ ")" %]
                                                    [% ELSE %]
                                                    [% library_limits_str = library_limits_str _ "\n" _ library.branchname _ " (" _ library.branchcode _ ")" %]
                                                    [% END %]
                                                [% END %]
                                                <span class="library_limitation" title="[% library_limits_str | html %]">
                                                    [% limits_count = credit_type.library_limits.count %]
                                                    [% tnx('{count} library limitation', '{count} library limitations', limits_count, { count => limits_count }) %]
                                            [% ELSE %]
                                                <span>No library limitation</span>
                                            [% END %]
                                        </td>
                                        <td class="actions">
                                            [% IF !credit_type.archived %]
                                                <a class="btn btn-default btn-xs" href="/cgi-bin/koha/admin/credit_types.pl?op=add_form&amp;code=[% credit_type.code | uri %]&type=credit"><i class="fa fa-pencil"></i> Edit</a>
                                            [% END %]
                                            [% IF !credit_type.is_system && !credit_type.archived %]
                                                <a class="btn btn-default btn-xs" href="/cgi-bin/koha/admin/credit_types.pl?op=archive&amp;code=[% credit_type.code | uri %]"><i class="fa fa-archive"></i> Archive</a>
                                            [% END %]

                                            [% IF !credit_type.is_system && credit_type.archived %]
                                                <a class="btn btn-default btn-xs" href="/cgi-bin/koha/admin/credit_types.pl?op=unarchive&amp;code=[% credit_type.code | uri %]"><i class="fa fa-undo"></i> Restore</a>
                                            [% END %]
                                        </td>
                                    </tr>
                                    [% END %]
                                </tbody>
                            </table>
                        </div><!-- /.page-section -->
                    [% ELSE %]
                        <div class="dialog message">
                            There are no account credit types defined.
                            <a href="/cgi-bin/koha/admin/credit_types.pl?op=add_form">Create new credit type</a>
                        </div>
                    [% END %]
                [% END %]
            </main>
        </div> <!-- /.col-sm-10.col-sm-push-2 -->

        <div class="col-sm-2 col-sm-pull-10">
            <aside>
                [% INCLUDE 'admin-menu.inc' %]
            </aside>
        </div> <!-- /.col-sm-2.col-sm-pull-10 -->
    </div> <!-- /.row -->

[% MACRO jsinclude BLOCK %]
    [% Asset.js("js/admin-menu.js") | $raw %]
    [% INCLUDE 'datatables.inc' %]

    <script>
        $(document).ready(function() {
            var txtActivefilter = _("Filter system credit types");
            var txtInactivefilter = _("Show all credit types");
            var table_credit_types = $("#table_credit_types").dataTable($.extend(true, {}, dataTablesDefaults, {
                "aoColumnDefs": [
                    { "aTargets": [ -1 ], "bSortable": false, "bSearchable": false },
                    { "aTargets": [ 0, 1 ], "bSortable": false, "bVisible": false },
                ],
                "aaSorting": [[ 0, "asc" ],[ 2, "asc" ]],
                "sDom": 'C<"top pager"ilpfB><"#filter_s">tr<"bottom pager"ip>',
                "iDisplayLength": 20,
                "sPaginationType": "full_numbers"
            }));
            $("#filter_s").html('<p><a href="#" id="filter_system"><i class="fa fa-filter"></i> '+txtActivefilter+'</a>');
            $('#filter_system').click(function(e) {
                e.preventDefault();
                if ($(this).hasClass('filtered')) {
                    var filteredValue = '';
                    $(this).html('<i class="fa fa-filter"></i> '+txtActivefilter);
                } else { //Not filtered. Let's do it!
                    var filteredValue = '0';
                    $(this).html('<i class="fa fa-filter"></i> '+txtInactivefilter);
                }
                table_credit_types.fnFilter(filteredValue, 1, false, false);
                $(this).toggleClass('filtered');
            });

            //Start filtered
            $('#filter_system').click();
        });
    </script>
[% END %]

[% INCLUDE 'intranet-bottom.inc' %]
